@model IEnumerable<Capa_Datos.admin_menu>

@{
    var IDTUsuario = Session["ROL"];
    //var IDTUsuario = 1;
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <div class="d-flex sidebar-profile">
                <div class="sidebar-profile-image">
                    <img src="~/Images/nofoto.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                </div>
                <div class="sidebar-profile-name">
                    <p class="sidebar-name">
                        Daniel Rivas
                    </p>
                    <p class="sidebar-designation">
                        Bienvenido
                    </p>
                </div>
            </div>
            <div class="nav-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." aria-label="search" aria-active="search">
                    <div class="input-group-append">
                        <span class="input-group-text" id="search">
                            <i class="typcn typcn-zoom"></i>
                        </span>
                    </div>
                </div>
            </div>
            <p class="sidebar-menu-title">Dash menu</p>

<li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard <span class="badge badge-primary ml-3">En proceso</span></span>
            </a>
        </li>
        @foreach (var item in Model)
        {

            <li class="nav-item" id="of">
                <a class="nav-link" data-toggle="collapse" href="#@item.MENSAJE" aria-expanded="false" aria-controls="@item.MENSAJE">
                    <i class="typcn typcn-briefcase menu-icon"></i>
                    <span class="menu-title">@item.MENSAJE</span>
                    <i class="menu-arrow"></i>
                </a>
                @if (item.admin_menu1.Count > 0)
                {
                    <div class="collapse" id="@item.MENSAJE">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                @foreach (var sub in item.admin_menu1.Where(i => i.BHABILITADO == 1 && i.IIDROL == (int)IDTUsuario))
                                {
                                    @Html.ActionLink(sub.MENSAJE, sub.ACCION, sub.CONTROLLER,
                                     new { area = "" }, new { @class = "nav-link" })
                                }
                            </li>
                        </ul>
                    </div>
                }

            </li>
        }
    </ul>
</nav>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


@*<script>
    $("#ac").removeClass("active");
</script>*@

